body{
background-image:  url("pic\ \(10\).jpg");
color: white;
align-items: center;
background-size: cover;
}
a{
color:white;
}
header{
    background-color:#1f0202;
    height: 120px;
}
.img{
    border-radius: 360px;
}
.over{
    text-decoration: overline;
    
}
p{
    overflow: auto;
}
.bl{
background-color:#1f0202;
width: 500px;
font-size: 20px;
border-radius: 30px;
box-shadow: 0 2px 3px 2px rgb(29, 29, 39);
}
.bl:hover{
    background-color: #471010;
}
#all{
color: whitesmoke;
text-align: center;
}
.box{
    display: inline-block;
 width: 150px;
 border-radius: 250px;
 text-align: center;
}
#html{
    background-color: rgb(6, 46, 6);
box-shadow: 0 2px 3px 2px rgb(29, 29, 39);
}
#html:hover{
    background-color:black;
}
#css{
    background-color: rgb(31, 9, 51);
    box-shadow: 0 2px 3px 2px rgb(29, 29, 39);
}
#css:hover{
    background-color:rgb(44, 5, 5);
}
#java{
    background-color: rgb(63, 44, 10);
    box-shadow: 0 2px 3px 2px rgb(29, 29, 39);
}
#java:hover{
    background-color:rgb(5, 5, 29);
}
button:hover{
    cursor: pointer;
    box-shadow: 0 2px 3px 2px rgb(93, 93, 97);
}
footer{
    background-color: rgb(19, 18, 18);
    color: blue;
}